.wrapper {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.15);
}

.content {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 6px 15px;
    border-bottom: 1px solid #ccc;
    text-decoration: none;
    border-radius: 5px;
}

.content:hover {
    background-color: rgba(0, 0, 0, 0.03);
}

.wrapper:not(:last-child) {
    margin-bottom: 30px;
}

.avatarField {
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatarImg {
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
    border-radius: 50%;
}

.name {
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 500;
    /* text-transform: uppercase; */
}

.inforField {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
}

.status {
    border: 1px solid green;
    font-size: 12px;
    padding: 2px 4px;
    border-radius: 3px;
    text-transform: uppercase;
    color:green;
    font-weight: 500;
    background-color: rgba(144, 230, 144, 0.5);
}

.inactive {
    background-color: rgba(223, 63, 63, 0.5);
}

.inforIcon {
    margin-bottom: 8px;
    color: #333;
}

.inforContent {
    color: #333;
}

.updateField {
    display: flex;
    justify-content: flex-end;
    padding: 4px 10px;
}

.editField, .deleteField {
    display: flex;
    flex-direction: row;
    align-items:  center;
    justify-content: center;
    background-color: green;
    border-radius: 5px;
    padding: 6px 8px;
    margin: 0 10px;
    font-size: 15px;
    color: white;
}

.editField:hover, .deleteField:hover {
    cursor: pointer;
    opacity: 0.7;
}

.deleteField {
    background-color: var(--primary-color);
    /* background-color: rgb(48, 48, 240); */
}

.editIcon, .deleteIcon {
    font-size: 11px;
    margin-right:4px;
    color: white;
}

.updateContent {
    color: white;
    text-decoration: none;
    user-select: none;
}

