.trainer-main{
    margin-top: 75px;
    background-color: #E5E5E5;
    
}
.trainer-avatarname{
    background-color: white;
    margin: 30px;
    text-align: center;
}
.trainer-avatar{
    border-radius: 50%;
    padding: 20px;
}
.trainername{
    size: 20px;
}
.trainer-info-frames{
    background-color: white;
    margin: 30px;
    height: 280px;
}
.trainer-info{
    padding-left: 20px;
}
.trainer-input{
    padding: 5px;
    border: none;
    border-bottom: 1.2px solid black;
    background-color: white;
}
.trainer-input-name{
    width: 30%;
}
.trainer-input-sex{
    width: 8%;
}
.trainer-input-date{
    width: 20%;
}
.trainer-input-phone{
    width: 20%;
}
.trainer-input-address{
    width: 50%;
}