.avatar {
    height: 100%;
    min-height: 250px;
    position: relative;
}

.chooseAvatar {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #4E4F50;
    cursor: pointer;
}

.chooseAvatarIcon {
    color: #E7E9EC;
    font-size: 20px;
}

.inforHeading {
    font-size: 24px;
    font-weight: 600;
    margin-top: 30px 0 20px;
    padding-bottom: 4px;
    color: var(--text-color);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.infor {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inforWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.inforWrapper:not(:last-child) {
    margin-bottom: 20px;
}

.inforContent {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    flex: 1;
}

.inforLabel {
    margin: 0 0 8px;
    font-size: 18px;
    font-weight: 500;
}

.inforText {
    border: none;
    outline: none;
    padding-bottom: 4px;
    font-size: 15px;
}

.inforBtn {
    margin-left: 8px;
    height: 36px;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: var(--text-color);
    border: 1px solid #333;
    opacity: 0.4;
}

.inforBtn i {
    font-size: 12px;
    margin-right: 4px;
}

.inforBtn:hover {
    opacity: 1;
    cursor: pointer;
}


.inforSave {
    color: white;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: 10px;
    border-radius: 20px;
    opacity: 0.9;
}

.inforSave:hover {
    opacity: 1;
    cursor: pointer;
}