.admin-category {
    height: 100%;
    background-color: #fff;
}

.admin-content {
    background-color: #fff;
    padding-bottom: 20px;
}

.manage-list {
    margin: 0;
    list-style: none;
    padding: 0;
}

.manage-item {
    font-size: 22px;
    font-weight: 500;
    padding: 5px 8px;
    background-color: var(--primary-color);
    cursor: pointer;
    display: flex;
    align-items: center;
    color: white;
}

.manage-item:hover {
    opacity: 0.7;
}

.left-icon {
    font-size: 15px;
    margin-right: 5px;
}

.down-icon {
    font-size: 13px;
    margin-right: 5px;
}

.trainer-customer {
    /* display: none; */
}

.trainer-customer a {
    text-decoration: none;
    font-size: 20px;
    color: #333;
}

.manage-account-trainer,
.manage-account-customer {
    margin: 0;
    padding: 4px 30px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}


.manage-account-trainer:hover,
.manage-account-customer:hover {
    background-color: rgba(0, 0, 0, 0.1);
}