.banner-event{
    margin-top: 75px;
    width: 100%;
    height: auto;
}
.content-event{
    display: block;
    background-color: #F0F0F0;
    width: 100%;
    height: 1700px;

}
.content-event h1{
    padding-top: 40px;
    margin: 0%;
    font-weight: bold;
    font-size: 50px;
    color: #151515;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.03em;
}

.content-event h2{
    font-weight: 500;
    font-size: 20px;
    color: #151515;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.03em;
}

.event{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 20px 0 40px 0;
    width: 350px;
    height: 500px;
    border: 2px solid #F0F0F0;
}
.event:hover{
    border: 2px solid #C20518;
}

.event-img{
    width: 100%;
    height: auto;
}
.event-name{
    display: flex;
    margin: 10px 0 0 25px;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.02em;

    color: #B7081A;
}
.event-date{
    display: flex;
    font-weight: 500;
    font-size: 12px;
    margin: 5px 0 0 25px;
    letter-spacing: 0.03em;
}
.event-ct{
    display: flex;
    font-weight: 550;
    font-size: 16px;
    margin: 10px 25px 0 25px;
    line-height: 24px;
    text-align: justify;
    height: 150px;
    letter-spacing: 0.02em;
}
.event-next{
    display: flex;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.03em;
    width: 45px;
    justify-content: space-between;
    margin-right: 25px;
    margin-left: auto;
}
