.AddSchedule-popupWrapper{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(37, 37, 37, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.AddSchedule-popupInner{
    border: 1px solid #000000;
    position: relative;
    padding: 0px;
    width: 100%;
    max-width: 400px;
    background-color: rgb(255, 255, 255);
}
.AddSchedule-Container{
    padding-top: 20px;
    padding-bottom: 60px;
    padding-left: 50px;
    box-shadow: 5px 5px 8px #888888;
}
.AddSchedule-Text{
    /* font-weight: 40px; */
    font-size: 25px;
    line-height:45px;
    margin-right: 10px;
    

}
.AddSchedule-Select{
    border: 0.6px solid black; 
    /* background-color: rgba(187, 12, 12, 0.733); */
    box-shadow: 1px 2px 3.6px #888888;
    /* box-shadow: 1px 2px 3.6px #888888; */
}
.AddSchedule-Select-Name{
    width: 85%;
}
.AddSchedule-Select-StartEnd{
    width: 70%;
}
.AddSchedule-Select-Prefix{
    /* width:50%;
    border: 1px solid;
    padding: 10px;
    box-shadow: 1px 1px 1px 5px #AAA; */
}

.AddSchedule-Day-Start{
    float: left;
    width: 50%;
}
.AddSchedule-Day-End{
    float: left;
    width: 50%;
    
}
.AddSchedule-DayPicker{
    border: 1px solid black; 
    box-shadow: 1px 2px 3.6px #888888;
    height: 30px;
    margin-bottom: 12px;
}
.AddSchedule-InputText{
    border: 1px solid black; 
    box-shadow: 1px 2px 3.6px #888888;
    height: 30px;
}
.AddSchedule-InputCheckbox{
    margin-top: 0px;
     width: 20px;
     height: 20px;
}
.AddSchedule-Repeat{
    /* padding-bottom: 40px; */
}
.AddSchedule-ConfirmFalse{
    margin-left: 95px;
    color: red;
}
.AddSchedule-Button-Confirm{
    
    float: left;
    width: 25%;
    margin-left: 40px;
    box-shadow: 2px 4px 3px #888888;
}
.AddSchedule-Button-Cancel{
    float: left;
    width: 25%;
    margin-left: 50px;
    box-shadow: 2px 4px 3px #888888;
}
