.trainer-link {
    text-decoration: none;
}

.trainer-wrapper {
    padding-top: 100%;
    background: url('./../../../../store/imgs/trainer1.jpg') no-repeat center / cover;
    /* height: 250px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    transition: all ease 0.2s;
    box-shadow: 5px 2px 20px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    border-radius: 2px;
}

.trainer-wrapper:hover {
    transform: scale(1.005);
    transform: translateY(-2px);
    opacity: 1;
}

.trainer-wrapper:hover .trainer-infor {
    opacity: 1;
}

.trainer-infor {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    background-color: var(--primary-color);
    color: white;
    width: 100%;
    padding: 8px;
    opacity: 0.9;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}


.trainer-name {
    padding: 0 0 4px 0 ;
}