.footer {
    background-color: rgb(109, 0, 0);
}

.footer-item {
    /* background-color: #ccc; */
    padding: 10px;  
    height: 100%;
    width: 100%;
    margin-top: 20px;
    line-height: 1.7;
}

.footer-item a {
    
    color: #23A7F2;
    text-decoration: none;
}

.footer-heading {
    text-transform: uppercase;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    padding: 5px 0;
}


.branch-address {
    letter-spacing: 0.5px;
    margin: 0;
    padding: 4px 0;
    font-size: 15px;
    font-weight: 400;
    color: white;
}

.footer-copyright {
    letter-spacing: 1px;
    height: 50px;
    margin-top: 50px;
    display: flex  ;
    justify-content: center;
    color: rgba(255, 255, 255, 0.699);
    align-items: center;
    background-color: #350409;
}
.facebook {
    display: inline;
}