:root {
    --header-height: 75px;
}

.login-header-wrapper {
    height: var(--header-height);
    width: 100%;
    background-color: #350409;
}

.login-header {
    height: var(--header-height);
}

.login-header-logo {
    display: flex;
    height: 100%;
    align-items: center;
}

.login-body {
    width: 100%;
    background: url('./../../store/imgs/pic6.png');
    display: flex;
    align-items: center;
    margin: auto;
    height: 510px;
}

.login-body-wrapper {
    border-radius: 4px;
    width: 400px;
    background-color: white;
    margin-left: 60%;
    box-shadow: 0px 0px 20px rgba(194, 5, 24, 0.5);
}

.login-inner {
    padding: 30px 25px;
}

.login-body-heading {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    color: white;
    margin: 0;
    padding: 20px 0;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    background-color: #C20518;
}

.login-role {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

.role-detail {
    padding: 4px;
    background-color: #c9c9c9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 100%;
    font-size: 16px;
    font-weight: 550;
    letter-spacing: 7%;
    cursor: pointer;
    border-radius: 0px;
    transition: all ease 0.1s;
    position: relative;
    opacity: 0.7;
    box-shadow: inset 0px 4px 4px rgba(255, 255, 255, 0.3);
}

.role-detail:hover {
    opacity: 1;
}

.role-active {
    background-color: #C51022;
    color: white;
    opacity: 1;
}

.role-detail-wrapper {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.role-detail-wrapper .role-detail{
    width: 50%;
}


.role-detail-wrapper .role-detail:first-child {
    margin-right: 10px;
}

.role-detail i {
    padding: 0 15px 0 10px;
}


.form-group {
    width: 100%;
    margin-bottom: 20px;
}

.userinput {
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.25);
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
    background-color: #F7F7F7;
}

.usersubmit-btn {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    background-color: #C51022;
    border: none;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.5));
    color: white;
    border-radius: 0px;
    cursor: pointer;
}

.usersubmit-btn.inactive {
    background-color: #c9c9c9;
    cursor: default;
}