:root {
    --header-height: 75px;
}

.login-wrapper {
    height: var(--header-height);
}

.login-header-wrapper {
    height: var(--header-height);
    width: 100%;
    background-color: #350409;
}

.login-header {
    height: var(--header-height);
}

.login-header-logo {
    display: flex;
    height: 100%;
    align-items: center;
}

.login-body {
    width: 100%;
    background: url('./../../store/imgs/pic1.png');
    display: flex;
    align-items: center;
    margin: auto;
    height: 500px;
}

.login-body-wrapper {
    border-radius: 4px;
    width: 400px;
    background-color: white;
    margin-left: 60%;
}

.login-inner {
    padding: 30px 25px;
}

.login-body-heading {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: white;
    margin: 0;
    padding: 20px 0;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    background-color: #C20518;
}

.login-role {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

.role-detail {
    padding: 4px;
    background-color: #c9c9c9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    transition: all ease 0.1s;
    position: relative;
    opacity: 0.7;
}

.role-detail:hover {
    opacity: 1;
}

.role-active {
    background-color: #C20518;
    color: white;
    opacity: 1;
}

.role-detail-wrapper {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.role-detail-wrapper .role-detail{
    width: 50%;
}


.role-detail-wrapper .role-detail:first-child {
    margin-right: 10px;
}

.role-detail i {
    padding: 0 15px 0 10px;
}

.role-detail img {
    display: block;
    width: 25px;
    padding: 0 5px;
}

.form-group {
    width: 100%;
    margin-bottom: 20px;
}

.userinput {
    box-shadow: 0 0 3px #ccc;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.usersubmit-btn {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #C20518;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.usersubmit-btn.inactive {
    background-color: #c9c9c9;
    cursor: default;
}