
.slider-wrapper {
    /* margin-top: 60px; */
    width: 100%;
    height: 510px;
    overflow: hidden;
    position: relative;
}

.navigation-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid rgb(243, 60, 60);
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
    opacity: 0.5;
}

.navigation-left:hover,
.navigation-right:hover {
    opacity: 1;
    cursor: pointer;
}

.navigation-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid rgb(243, 60, 60);
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
    opacity: 0.4;
}

.navigation-left-icon {
    color: rgb(243, 60, 60);
}

.navigation-right-icon {
    color: rgb(243, 60, 60);
}

.slides {
    display: flex;
    width: 500%;
    height: 510px;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: all ease 1.5s;
}

.slide img {
    display: block;
    width: 100%;
    height: 510px;
}


.navigation-manual,
.navigation-auto {
    position: absolute;
    top: calc(100% - 30px);
    width: 100%;
    display: flex;
    justify-content: center;
}

.manual-btn,
.navigation-auto div  {
    padding: 4px;
    border: 2px solid rgb(243, 60, 60);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s;
    opacity: 0.5;
}

.manual-btn:hover {
    background-color: rgb(243, 60, 60);
    opacity: 1;
}

.manual-btn:not(:last-child),
.navigation-auto div:not(:last-child)  {
    margin-right: 20px;
}

#radio1:checked ~ .first {
    margin-left: 0%;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%
}

#radio4:checked ~ .first {
    margin-left: -60%;
}
#radio5:checked ~ .first {
    margin-left: -80%;
}

#radio1:checked ~ .navigation-auto .navigation-auto1 {
    background-color: rgb(243, 60, 60);
    opacity: 1;
}

#radio2:checked ~ .navigation-auto .navigation-auto2 {
    background-color: rgb(243, 60, 60);
    opacity: 1;
}

#radio3:checked ~ .navigation-auto .navigation-auto3 {
    background-color: rgb(243, 60, 60);
    opacity: 1;
}

#radio4:checked ~ .navigation-auto .navigation-auto4 {
    background-color: rgb(243, 60, 60);
    opacity: 1;
}

#radio5:checked ~ .navigation-auto .navigation-auto5 {
    background-color: rgb(243, 60, 60);
    opacity: 1;
}

